---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{ site.author.googlescholar }}">
      my Google Scholar profile
    </a>.
  </div>
{% endif %}

{% include base_path %}

# {% assign publication_number = 0 %}

{% if site.publication_category %}

  {% for category in site.publication_category %}
    {% assign category_posts = site.publications
      | where: "category", category[0]
      | sort: "date"
      | reverse %}

    {% if category_posts.size > 0 %}
      <h2 class="publication-section-title">
        {{ category[1].title }}
      </h2>

      <div class="publication-list">
        {% for post in category_posts %}
          #{% assign publication_number = publication_number | plus: 1 %}
          #{% include publication-single.html number=publication_number %}
          {% include publication-single.html %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}

{% else %}

  {% assign sorted_publications = site.publications
    | sort: "date"
    | reverse %}

  <div class="publication-list">
    {% for post in sorted_publications %}
      {% assign publication_number = publication_number | plus: 1 %}
      {% include publication-single.html number=publication_number %}
    {% endfor %}
  </div>

{% endif %}
